# Supabase konfigs
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-min-32-chars

WHATSAPP_API_URL=
WHATSAPP_API_TOKEN=

NEXT_PUBLIC_USE_DUMMY=false
