# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.production.local
.env*.local

# Vercel
.vercel

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# TypeScript
next-env.d.ts